<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <ul class="cardList">
        <li class="PostCard_block" th:each="item : ${boardList}">
            <a href="javascript:">
                <div class="imgArea">
                        <img class="w-xs" alt="[번역] 리액트에서의 단일 책임 원칙: 컴포넌트 집중의 기술 post" src="https://velog.velcdn.com/images/eunbinn/post/f2e10256-b0a3-4b87-821f-b9fd02c854ba/image.webp" />
                </div>
            </a>
            <div class="PostCard_content">
                <a href="javascript:" class="PostCard_Link">
                    <h4 class="PostCard_title" th:text="${item.title}">제목</h4>
                    <div>
                        <p class="PostCard_Txt" th:text="${item.content}">내용</p>
                    </div>
                </a>
                <div class="PostCard_info">
                    <span th:text="${item.createdDate}">2025년 3월 9일</span>
                    <span class="PostCard_separator">·</span>
                    <span>8개의 댓글</span>
                </div>
            </div>
            <div class="PostCard_footer">
                <a class="PostCard_userInfo" href="/@eunbinn/posts">
                        <img src="https://velog.velcdn.com/images/eunbinn/profile/691257f1-6b27-4a1b-bece-c9e31cbb8ede/image.jpg" style="color: transparent;"/>
                    <span>by <b th:text="${item.author}"></b> </span>
                </a>
                <div class="PostCard_likes___lp_I">
                    <svg viewBox="0 0 24 24">
                        <path fill="currentColor" d="m18 1-6 4-6-4-6 5v7l12 10 12-10V6z"></path>
                    </svg>
                    <b th:text="${item.viewCount}"></b>
                </div>
            </div>
            <div class="userInfo"></div>
        </li>
    </ul>
</html> 